<vnsLDevVip contextAware="single-Context" devtype="VIRTUAL" dn="uni/tn-hhtenant/lDevVip-twisterVE" funcType="GoThrough" isCopy="no" managed="no" mode="legacy-Mode" name="twisterVE" nameAlias="" packageModel="" svcType="ADC" trunking="no"><vnsRsALDevToDomP tDn="uni/vmmp-VMware/dom-POD11-VMM-DOMAIN"/><vnsLIf encap="unknown" name="floatExt" nameAlias=""><vnsRsCIfAttN tDn="uni/tn-hhtenant/lDevVip-twisterVE/cDev-f5_VE/cIf-[external]"/></vnsLIf><vnsCDev devCtxLbl="" name="f5_VE" nameAlias="" vcenterName="" vmName=""><vnsCIf name="external" nameAlias="" vnicName=""><vnsRsCIfPathAtt tDn="topology/pod-1/protpaths-101-102/pathep-[Switch101-102_1-BL1_PolGrp]"/></vnsCIf><vnsCCredSecret name="password" nameAlias=""/><vnsCCred name="username" nameAlias="" value="a"/></vnsCDev></vnsLDevVip>
